<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>Butch Hello World</display-name>
  <servlet>
    <servlet-name>hi</servlet-name>
    <servlet-class>com.website.App</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hi</servlet-name>
    <url-pattern>/say-hi</url-pattern>
  </servlet-mapping>
</web-app>
